[Unit]
Description=EOS update notifier runs periodically (weekly) and soon after a reboot

[Timer]
Persistent=false
OnStartupSec=300 seconds
OnCalendar=daily
# Persistent=true
 
[Install]
WantedBy=timers.target
