alias ls="exa --icons --group-directories-first"
alias ll="exa -lbh --icons --group-directories-first"

alias systemupgrade="sudo timeshift --create && paru"
alias killorphans="paru -Qtdq | paru -Rns -"
# alias checkupdates="checkupdates && paru -Qua"
alias numberofupdates="(checkupdates) | wc -l"

alias kdc=kdeconnect-cli
alias yt2mp3="yt-dlp -f 'ba' -x --audio-format mp3"
alias nv=nvim

# Paru aliases
alias prr="paru -Rns"
alias pri="paru -S"
alias prss="paru -Ss"
alias prsi="paru -Si"
alias prqs="paru -Qs"
alias prqi="paru -Qi"

alias wget='wget --hsts-file="$XDG_DATA_HOME/wget-hsts"'

alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

alias pctr=pactree
alias pctrr="pactree -r"
alias dar="dart run"
alias lg=lazygit
alias mnt-windows="doas mount -t ntfs3 -o noatime /dev/nvme0n1p3 /mnt/windows"
alias umnt-windows="doas umount /mnt/windows"
