alias ls="exa --icons --group-directories-first"
alias ll="exa -lbh --group-directories-first"
# alias code=codium
alias fing="ping 45.90.28.139"
alias systemupgrade="sudo timeshift --create && paru"
alias killorphans="paru -Qtdq | paru -Rns -"
alias checkupdates="checkupdates && paru -Qua"
alias numberofupdates="(checkupdates && paru -Qua) | wc -l"
alias kdc=kdeconnect-cli
alias yt2mp3='yt-dlp -f 'ba' -x --audio-format mp3'

# Paru aliases
alias prr="paru -Rns"
alias pri="paru -S"
alias prss="paru -Ss"
alias prsi="paru -Si"
alias prqs="paru -Qs"
alias prqi="paru -Qi"

# alias sudo="doas"
# alias sudoedit="doas rnano"
alias wget='wget --hsts-file="$XDG_DATA_HOME/wget-hsts"'
