.config/mpv/watch_later
.config/nvim/plugin
.config/nvim/custom
.config/nvim/spell
.config/zsh/.zcompdump*
.config/newsboat/cache.db
.config/newsboat/history.search
.config/newsboat/queue
scripts/.yt-api-key
my-rss.opml
debug.log
.config/gtk-2.0/gtkfilechooser.ini
