* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font Propo";
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
  margin: 0px;
  opacity: 0.98;
}

window#waybar {
  background: transparent;
  color: #ebdbb2;
}

tooltip {
  background: #282828;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #1d2021;
}

#workspaces button {
  padding: 5px;
  color: #282828;
  margin-right: 5px;
}

#workspaces button.active {
  color: #d5c4a1;
  font-weight: bold;
}

/* #workspaces button.focused { */
/*   color: #504945; */
/*   background: #928374; */
/*   border-radius: 15px; */
/*   font-weight: bold; */
/* } */

#workspaces button.urgent {
  color: #282828;
  background: #ebdbb2;
}

#workspaces button:hover {
  color: #504945;
  border: 0;
  outline: none;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-power,
#custom-pomo,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#mpd,
#custom-pacman,
#idle_inhibitor,
#custom-distro,
#window,
#temperature,
#cpu,
#memory,
#backlight {
  background: #282828;
  padding: 2px 15px;
  margin-top: 10px;
}

#cpu,
#temperature {
  padding-right: 5px;
}

#temperature {
  margin-left: 15px;
  border-radius: 24px 0 0 24px;
  padding-left: 20px;
}

#custom-distro,
#cpu,
#memory,
#temperature {
  background: #bdae93;
  color: #504945;
}

#tray {
  background-color: #3c3836;
  color: #a89984;
}

#custom-pomo {
  background-color: #3c3836;
  color: #a89984;
}

#workspaces {
  background: #665c54;
  color: #d5c4a1;
  padding-right: 0px;
  padding-left: 5px;
}

/* #workspaces::after { */
/*   content: ""; */
/* } */

#custom-caffeine {
  color: #89dceb;
}

#custom-language {
  color: #f38ba8;
}

#custom-updates {
  color: #f5c2e7;
}

#clock {
  background: #7c6f64;
  color: #ebdbb2;
}

#mpd {
  background: #504945;
  color: #bdae93;
}

#custom-pacman {
  background: #665c54;
  color: #d5c4a1;
}

#network {
  background: #7c6f64;
  color: #ebdbb2;
}

#idle_inhibitor {
  background: #928374;
  color: #fbf1c7;
}

#pulseaudio {
  background: #a89984;
  color: #3c3836;
}

#battery {
  background: #bdae93;
  color: #504945;
  margin-right: 15px;
  border-radius: 0 24px 24px 0;
  padding-right: 20px;
}

#backlight {
  background: #928374;
  color: #fbf1c7;
}

#custom-power {
  background: #a89984;
  color: #3c3836;
  padding-right: 19px;
}


#window {
  background: #504945;
  color: #bdae93;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark,
#custom-right-arrow-fg3,
#custom-left-arrow-fg3,
#custom-right-arrow-fg4,
#custom-left-arrow-fg4,
#custom-right-arrow-gray,
#custom-left-arrow-gray,
#custom-right-arrow-bg4,
#custom-left-arrow-bg4,
#custom-left-arrow-bg3,
#custom-right-arrow-bg3,
#custom-left-arrow-bg2,
#custom-right-arrow-bg2,
#custom-left-arrow-bg1,
#custom-right-arrow-bg1 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 28px;
}

#custom-right-arrow-fg3,
#custom-left-arrow-fg3 {
  color: #bdae93;
  background: #a89984;
}

#custom-right-arrow-fg4,
#custom-left-arrow-fg4 {
  color: #a89984;
  background: #928374;
}

#custom-right-arrow-gray,
#custom-left-arrow-gray {
  color: #928374;
  background: #7c6f64;
}

#custom-right-arrow-bg4,
#custom-left-arrow-bg4 {
  color: #7c6f64;
  background: #665c54;
}

#custom-right-arrow-bg3,
#custom-left-arrow-bg3 {
  color: #665c54;
  background: #504945;
}

#custom-right-arrow-bg2,
#custom-left-arrow-bg2 {
  color: #504945;
  background: #3c3836;
}

#custom-right-arrow-bg1,
#custom-left-arrow-bg1 {
  color: #3c3836;
  background: transparent;
}
