@import './rose-pine.css';

* {
  border: none;
  border-radius: 0;
  font-family: 'JetBrainsMono NFP';
  font-weight: 600;
  font-size: 15px;
  min-height: 0;
  margin: 0px;
}

window#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
  border-color: @highlightMed;
}

#workspaces button {
  padding: 0 5px;
  color: @muted;
  margin-right: 5px;
}

#workspaces button.active {
  color: @text;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @base;
  background: @highlightHigh;
  border-radius: 8px;
}

#workspaces button:hover {
  color: #504945;
  border: 0;
  outline: none;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-power,
#custom-pomo,
#custom-audio_idle_inhibitor,
#clock,
#battery,
#pulseaudio,
#wireplumber,
#custom-pipewire,
#network,
#workspaces,
#tray,
#mpd,
#custom-pacman,
#idle_inhibitor,
#custom-distro,
#window,
#temperature,
#cpu,
#memory,
#backlight {
  background: @base;
  padding: 0 10px;
  margin-top: 10px;
}

#cpu,
#temperature {
  padding-right: 5px;
}

#temperature {
  margin-left: 15px;
  border-radius: 24px 0 0 24px;
  padding-left: 25px;
}

/* module left */
#custom-distro,
#cpu,
#memory,
#temperature {
  color: @love;
}

#custom-right-arrow-fg3,
#custom-left-arrow-fg3 {
  color: #3c3836;
  background: #504945;
}

#idle_inhibitor,
#custom-audio_idle_inhibitor {
  color: @gold;
}

#custom-right-arrow-fg4,
#custom-left-arrow-fg4 {
  color: #504945;
  background: #665c54;
}

#workspaces {
  color: @muted;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-right-arrow-gray,
#custom-left-arrow-gray {
  color: #665c54;
  background: #7c6f64;
}

#window {
  color: @rose;
  border-radius: 0 24px 24px 0;
  padding-right: 25px;
}

#custom-right-arrow-bg4 {
  color: #7c6f64;
  background: transparent;
}

#custom-left-arrow-bg4 {
  color: #7c6f64;
  background: #928374;
}

#custom-pomo {
  background: #928374;
  color: @text;
}

#custom-right-arrow-bg3,
#custom-left-arrow-bg3 {
  color: #928374;
  background: transparent;
}

/* module right */

#battery {
  color: @love;
  margin-right: 15px;
  border-radius: 0 24px 24px 0;
  padding-right: 25px;
}

#pulseaudio,
#wireplumber,
#custom-pipewire,
#backlight {
  color: @gold;
}

#network {
  color: @rose;
}

#custom-pacman {
  color: @foam;
}

#mpd,
#tray {
  color: @iris;
}

/* ============================== */

/* #workspaces::after { */
/*   content: ""; */
/* } */

#clock,
#custom-pomo {
  color: @foam;
  border-radius: 24px;
  padding: 0 25px;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark,
#custom-right-arrow-fg3,
#custom-left-arrow-fg3,
#custom-right-arrow-fg4,
#custom-left-arrow-fg4,
#custom-right-arrow-gray,
#custom-left-arrow-gray,
#custom-right-arrow-bg4,
#custom-left-arrow-bg4,
#custom-left-arrow-bg3,
#custom-right-arrow-bg3,
#custom-left-arrow-bg2,
#custom-right-arrow-bg2,
#custom-left-arrow-bg1,
#custom-right-arrow-bg1 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 28px;
}

#custom-right-arrow-bg2,
#custom-left-arrow-bg2 {
  background-color: transparent;
  color: #3c3836;
}

#custom-right-arrow-bg1,
#custom-left-arrow-bg1 {
  color: @base;
  background: transparent;
}

#custom-slash,
#custom-backslash {
  background-color: @base;
  color: @highlightHigh;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 28px;
}
